nav {
    background-color: rgb(218, 221, 181);
    display: flex;
    justify-content: space-between;
    padding: 35px 10px 35px 10px ;

    a{
        text-decoration: none;
        color: black;
        font-size: 15spx;
    }
    
    
    ul {
        list-style: none;
        display: flex;
        

        li {
            margin-right: 20px;
        }

    }
}

.logo a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    padding: 0 0 0 40px ;

    img {
        
    }
}